{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="{{ metadesc }}" />
        <title>{{ content }}</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="{% static 'assets/logo-icon.png' %}" />
        <!-- CSS (incluant Bootstrap)-->
        <link href="{% static 'css/style.css' %}" rel="stylesheet" />
        <link rel="stylesheet" href="{% static 'css/style3.css' %}">
        <link rel="stylesheet" href="{% static 'css/font.css' %}">
    </head>
    <body id="blog">
        <!-- Masthead-->
        <header class="mastheadd">
            <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark" id="mainNav" style="text-align: center;">
            <div class="container">
                <a class="navbar-brand" href="{% url 'home' %}"><img src="{% static 'assets/logo.png' %}" alt="..." width="70" height="420" /></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		            <span class="navbar-toggler-icon"></span>
		        </button>
		        <div class="collapse navbar-collapse ul" id="navbarSupportedContent">
                    <ul class="navbar-nav text-uppercase ms-auto py-4 py-lg-0">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">Services</a>

                            <ul class="dropdown-menu" >
                                {% for service in services %}
                                <li><a class="dropdown-item" href="{% url 'service_details' service.slug %}">{{ service.name }}</a></li>
                                {% endfor %}
                            </ul>
                        </li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'portfolio' %}">Portfolio</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'blog' %}">Blog</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'home' %}">A propos</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'contact' %}">Contact</a></li>
                    </ul>
                </div>
            </div>

        </nav>
        </header>



       {% block content %}

        {% endblock %}


        <footer class="footer py-4">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-4 text-lg-start">Copyright &copy; Bavithycompany 2022</div>
                    <div class="col-lg-4 my-3 my-lg-0">
                        <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Twitter"><i class="fa fa-twitter"></i></a>
                        <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Facebook"><i class="fa fa-facebook"></i></a>
                        <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="LinkedIn"><i class="fa fa-linkedin"></i></a>
                        <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="LinkedIn"><i class="fa fa-instagram"></i></a>
                    </div>
                    <div class="col-lg-4 text-lg-end">
                        <a class="link-dark text-decoration-none" href="{% url 'terms_of_use' %}">Conditions d'utilisation</a>
                    </div>
                </div>
            </div>
        </footer>

        <a class="btn-fix" href="#" style="background: rgba(107, 123, 140, 0.4); border: none; height: 30px;"><i class="fa fa-sort-up" style="padding: 10px; color: #fff;"></i></a>

        <!-- Bootstrap core JS-->
        <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
        <!-- Core theme JS-->
        <script src="{% static 'js/scripts.js' %}"></script>
    </body>
    </html>